

.page-container {
  height: 100%;
  /*background: rgb(96, 116, 159); !* #84ceeb*! !*was: rgb(35, 42, 58)*!*/
  /*background: #5fb4ec;*/
  background: #ccefff;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 300px;
  /*background: rgba(0, 0, 0, 0.2); !* #5ab9ea*! !*was: rgba(0, 0, 0, 0.2);*!*/
  /*background: #082d45;*/
  /*background: #000080;*/
  /*background: #b3d9ff;*/
  background: #99ccff;
}

.list-items {
  height: 100%;
}

.list-items > * {
  color: black;
}

.list-item {
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /*font-family: 'Roboto';*/
}


.list-item i.material-icons {
  margin-right: 5px;
  font-size: 20px;
  /*cursor: pointer;*/
}

.list-item:first-child {
  padding-top: 30px;
}

.list-item:hover {
  color: white;
}

/*.list-item::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0;*/
/*  height: 100%;*/
/*  width: 50px;*/
/*  background-color: orange;*/
/*}*/



.useful-links {
}

.useful-links-list a {
  display: block;
}

.section-name {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
}

div.sidebar > div > a:nth-child(11) {
  position: relative;
  bottom: 20px;
}

.router-content {
  width: 75%;
}
