<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/news" class="list-item">
<!--        <i class="material-icons">history_edu</i>-->
        <i class="material-icons">bookmark_border</i>
        <p>Новини</p>
      </a>
      <a routerLink="/disciplines" class="list-item">
<!--        <i class="material-icons">library_books</i>-->
        <i class="material-icons">bookmark_border</i>
        <p>Дисципліни</p>
      </a>
      <a routerLink="/success-info" class="list-item">
<!--        <i class="material-icons">stars</i>-->
        <i class="material-icons">bookmark_border</i>
        <p>Дані про успішність</p>
      </a>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


