<div class="main-section">
<!--  <div class="main-aside">-->
<!--    <p>main works!</p>-->
<!--  </div>-->
  <img src="../../../assets/images/iev.jpg" alt="photo" width="150" height="200">
  <div class="tutor-information">
    <p>Прiзвище	Iвохiн</p>
    <p>Iм'я	Євген</p>
    <p>По-батьковi	Вiкторович</p>
    <p>Дата народження	19 лютого 1960</p>
    <p>Коротка iнформацiя	доцент, доктор фiз.-мат. наук</p>
    <p>Освiта, хоббi</p>
<!--    <div class="tutor-description"><span>Біографія</span>	        <span>Вступив до КНУ iменi Тараса Шевченка на факультет кібернетики у 1977 році,</span>-->
<!--      <span>спецiальнiсть - прикладна математика. Закінчив університет у 1982 році. </span>-->
<!--      <span>Захистив кандидатську дисертацію у 1986 році, докторську дисертацію</span>-->
<!--      <span>- у 2012 році. З 1989 року - викладач кафедри, з 1995 року - доцент кафедри.</span>-->
<!--    </div>-->
    <p>Хоббі	        Баскетбол</p>
    <p>Контакти</p>
    <p>Робочий телефон	        258-89-84</p>
    <p>Адреса	        вул. О.Бальзака, 63 кв.320</p>
    <p>E-mail	        ivohin@univ.kiev.ua</p>
    <p>Спортивнi змагання та результати</p>
    <p>Чемпiонати/турніри	        Кубок Баглея (2008 р.) - 2 мiсце</p>
    <p>Сайт ветеранів баскетболу КНУ <a href="vbasket.univ.kiev.ua">vbasket.univ.kiev.ua</a></p>
  </div>
</div>
