<nav class="navbar navbar-light default-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/images/satr-image.png" alt="">
      <a class="navbar-brand" href="#">stab.univ.kiev.ua</a>
    </div>
    <div class="nav navbar-nav info-section">
      <div class="univ-title">Київський нацiональний унiверситет iменi Тараса Шевченка факультет кібернетики</div>
      <div class="univ-department">Кафедра системного аналізу та теорії прийняття рішень</div>
    </div>
    <div class="nav pull-right">
      <div class="flag-container">
        <img src="../../assets/images/en.png" alt="">
        <img src="../../assets/images/ua.png" alt="">
        <img src="../../assets/images/ru.png" alt="">
      </div>
    </div>
  </div>
<!--  <h1>Кафедра системного аналізу та теорії прийняття рішень</h1>-->
</nav>

