<footer>
  <!--  <div class="container">-->
  <div class="useful-links">
    <p>Корисні посилання</p>
    <div class="useful-links-list">
      <a href="http://www.univ.kiev.ua/">КНУ імені Тараса Шевченка</a>
      <a href="http://satr.unicyb.kiev.ua/">Кафедра САТР ф-ту кiбернетики</a>
      <a href="http://csc.knu.ua/en/">Факультет кібернетики</a>
      <a href="https://www.mathway.com/">Математичний помiчник</a>
    </div>
  </div>
  <div class="copyright">
    <p>
      &copy; STAB 2020
    </p>
  </div>
  <!--  </div>-->
</footer>
