
footer {
  margin-top: -15px;
  background-color: #00004d;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.copyright {
  display: flex;
  justify-content: flex-end;
}

.copyright p {
  padding-right: 60px;
  padding-top: 5px;
  color: white;
}

.useful-links {
  width: 100%;
  padding-left: 30px;
  /*justify-content: space-around;*/
}

.useful-links p {
  color: white;
  display: flex;
  justify-content: start;
  padding-top: 30px;
  padding-bottom: 10px;
}

.useful-links-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.useful-links-list a {
  color: white;
}
