/* You can add global styles to this file, and also import other style files */

/*@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);*/

/*
Color scheme:
1) #568oe9
2) #84ceeb
*/

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}
